/* ==UserStyle==
@name           FUCK ROUNDED CORNERS
@namespace      github.com/lividjava/frc-twitch
@version        0.0.0
@description    Literally just removes ALL rounded corners from button-like elements
@author         LividJava
==/UserStyle== */
@-moz-document domain("twitch.tv") {
    :root,
    * {
        --button-border-radius-default: 0px !important;
        --border-radius-rounded: 0px !important;
    }
}
